<!DOCTYPE html>
<html>
    <head>
        <title>Time Sheet</title>
        <link rel="stylesheet" href="Style.css">
    </head>

    <body>
        <header class="Title">
            <h1>Time Sheet</h1>
        </header>

        <section class="TimeApp">
            <div class="Container">
                <form><!--
                    <article id="Days">
                        <select name="Day" id="Day">
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                        </select>
                    
                    </article>-->
                    <article class="StartTime">
                        <input type="date" id="StartDate" max="12-12-2030" ><br>
                        <input type="text" id="StartTime" placeholder="Start Time" value="8:00AM" required>
                    </article>

                    <article class="EndTime">
                        <input type="text" id="EndTime" placeholder="End Time" value="10:00AM" required>
                    </article>

                    <article class="Reason">
                        <input type="text" id="Reason" placeholder="Reason" value="Scheduled Work">
                    </article>

                    <article class="SubmitTime">
                        <button type="button" id="SubmitTime">Submit Time</button>
                    </article>

                    <article class="CalcTime">
                        <button type="button" id="CalcTime">Total Hours</button>
                    </article>

                    <article class="Schedule">
                        <textarea id="Schedule"></textarea>
                    </article>
                </form>
            </div>
        </section>
        <script src="Script.js"></script>
    </body>
</html>