body{
    line-height:1.5;
    font-family:arial,helvetica,sans-serif;
    font-size:25px;
    
}

.Container{
    margin:auto;
    overflow:hidden;
    text-align:center;
}
header{
    text-align:center;
}
.TimeApp{
    border:black solid 5px;
    padding:10px;
    margin-right:30%;
    margin-left:30%;

}

#Schedule{
    width:400px;
    height:200px;
    
}
#Day,
#StartDate,
#StartTime,
#Reason,
#EndTime{
    width:200px;
}