body{
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.5;
    font-size:25px;
}

.Container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.HeadColor{
    color:#14C400;
}

header{
    background-color:#676767;
    color:white;
    border-bottom:#14C400 solid 7px;
}

header h1{
    float:left;
}

nav ul{
    list-style:none;
    float:right;
    margin-top:55px;
}

nav li{
    display:inline;
    padding-right:20px;
    font-size:30px;
}

nav a{
    text-decoration:none;
    color:white;
}

nav a:hover{
    color:#14C400;
}

#WelcomeSection{
    background-color:#676767;
    color:white;
    text-align:center;
    border-bottom:#14C400 solid 7px;
}

#WelcomeSection h1{
    font-size:40px;
    margin-bottom:-10px;
}

#WelcomeSection p{
    font-size:25px;
}

#PortWelcomeSection{
    background-color:#676767;
    color:white;
    text-align:center;
    border-bottom:#14C400 solid 7px;
    padding-bottom:2px;
    font-size:40px;
    margin-bottom:10px;
}

#PortWelcomeSection h1{
    font-size:40px;
    margin-bottom:-10px;
}

#PortWelcomeSection p{
    font-size:25px;
}
.Skills{
    display:inline-flex;
    text-align:center;
}

.Skills #WebDev{
    padding-right:60px;
}

.Skills #WebDes h2{
    padding-right:20px;
}

.Skills #WebDes{
    padding-right:60px;
}

.Skills #GraphicDes h2{
    padding-right:20px;
}

footer{
    background-color:#14C400;
    text-align:center;
    margin-top:15px;
    color:white;
}

.Projects{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.Projects #AcmeWeb img{
    width:500px;
    margin:auto;
    height:280px;
}

.Projects #AcmeWeb{
    text-align:center;
}

.Projects #TributePage img{
    width:500px;
    margin:auto;
    height:280px;
}

.Projects #TributePage{
    text-align:center;
}

#AboutMe,
#AboutContent{
    width:70%;
    display:initial;
}

#AboutMe h2{
    text-align:center;
}

#Contact{
    float:right;
    background-color: #676767;
    margin-top:10px;
    margin-bottom:10%;
    padding:10px;
    font-weight:bold;
}



@media(max-width:768px){
    header h1,
    nav,
    nav ul{
        float:none;
        text-align:center;
    }

    

    .Skills,
    .Skills #WebDes,
    .Skills #WebDev,
    .Skills #GraphicDes{
        display:initial;
        text-align:center;
        width:100%;

    }

    .Projects #AcmeWeb img{
        width:500px;
    }

    #Contact{
        float:none;
        text-align:center;
    }

    #AboutMe{
        text-align:center;
    }
}

