<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <title>Acme Web Design</title>
</head>
<body>
    <header>
        <div class="Container">
            <div id="Branding">
                <h1><span class="Highlight">Acme</span> Web Design</h1>
                <nav>
                    <ul>
                        <li><a href="Home.html">Home</a></li>
                        <li><a href="About.html">About</a></li>
                        <li><a href="Services.html">Services</a></li>
                    </ul>
                </nav>
            </div>
        </div>  
    </header>

    <section id="NewsLetter">
        <div class="Container">
            <h1>Subscribe To Our News Letter</h1>
            <form action="">
                <input type="email" placeholder="Enter Email">
                <button type="submit" class="ButtonOne"> Subscribe</button>
            </form>
        </div>
    </section>

    <section id="Main">
        <div class="Container">
            <article class="Main-Col">
                <h1>Services</h1>
                <ul id="Services">
                    <li>
                        <h3>Website Design</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit debitis dignissimos esse, culpa, iure ipsum officiis perferendis facilis voluptas quos nostrum earum. Consectetur eos exercitationem tempore possimus asperiores. Voluptas, unde.</p>
                        <p>Pricing: $1,000 - $3,000</p>
                    </li>

                    <li>
                        <h3>Website Maintenance</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit debitis dignissimos esse, culpa, iure ipsum officiis perferendis facilis voluptas quos nostrum earum. Consectetur eos exercitationem tempore possimus asperiores. Voluptas, unde.</p>
                        <p>Pricing: $250 Per Month</p>
                    </li>

                    <li>
                        <h3>Website Hosting</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit debitis dignissimos esse, culpa, iure ipsum officiis perferendis facilis voluptas quos nostrum earum. Consectetur eos exercitationem tempore possimus asperiores. Voluptas, unde.</p>
                        <p>Pricing: $25 Per Month</p>
                    </li>


                </ul>
           </article>

            <aside id="SideBar">
                <div class="Dark">
                    <h3>Get A Quote</h3>
                    <form class="Quote">
                        <div>
                            <label>Name</label> <br>
                            <input type="text" placeholder="Name">
                        </div>

                        <div>
                            <label>Email</label> <br>
                            <input type="email" placeholder="Email">
                        </div>

                        <div>
                            <label>Message</label> <br>
                            <textarea placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="ButtonOne">Send</button>

                    </form>
                </div>
            </aside>
        </div>
    </section>

    <footer>
        <p>Acme Web Design &copy; 2020</p>
    </footer>
    
</body>
</html>